@font-face {
    font-family: 'Ubuntu Condensed Regular';
    src: url('../fonts/.eot');
    src: url('../fonts/.eot?#iefix') format('embedded-opentype');
    src: url('../fonts/.woff') format('woff');
    src: url('../fonts/.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }


			/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/05/2020 19:00
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
}

.flaticon-phone:before { content: "\f100"; }
.flaticon-pin:before { content: "\f101"; }
.flaticon-calendar:before { content: "\f102"; }
.flaticon-phone-1:before { content: "\f103"; }
.flaticon-clock:before { content: "\f104"; }
.flaticon-travelling:before { content: "\f105"; }
.flaticon-transportation:before { content: "\f106"; }
.flaticon-vacations:before { content: "\f107"; }
.flaticon-social:before { content: "\f108"; }
.flaticon-connections:before { content: "\f109"; }
.flaticon-logotype:before { content: "\f10a"; }
.flaticon-brands-and-logotypes:before { content: "\f10b"; }
.flaticon-multimedia:before { content: "\f10c"; }
.flaticon-tools-and-utensils:before { content: "\f10d"; }
.flaticon-up-arrow:before { content: "\f10e"; }
.flaticon-hands-and-gestures:before { content: "\f10f"; }
.flaticon-signs:before { content: "\f110"; }
.flaticon-vip-card:before { content: "\f111"; }
.flaticon-interface:before { content: "\f112"; }
.flaticon-miscellaneous:before { content: "\f113"; }
.flaticon-interface-1:before { content: "\f114"; }
.flaticon-orientation:before { content: "\f115"; }
.flaticon-orientation-1:before { content: "\f116"; }
.flaticon-interface-2:before { content: "\f117"; }